<div class="px-3">
    <div class="splide__slide">
        <div class="card card-style m-0 bg-7 shadow-card shadow-card-m" style="height:200px">
            <div class="card-center">
                <div class="bg-theme px-3 py-2 rounded-end d-inline-block">
                    <h1 class="font-13 my-n1">
                        <span class="color-theme">My fund</span>
                    </h1>
                    <div class="collapse show">
                        <h2 class="color-theme font-26">{{orgnigation.cuntryCurency(totalWallet)}}</h2>
                    </div>
                </div>
            </div>
            <strong class="card-top no-click font-12 p-3 color-white font-monospace">Main Account</strong>
            <strong class="card-bottom no-click p-3 text-start color-white font-monospace">Wallet ID: {{user.userid}}</strong>
            <div class="card-overlay bg-black opacity-50"></div>
        </div>
    </div>
</div>

<!-- <div class="card card-style gradient-red rounded-s shadow-bg shadow-bg-xs mb-3 mt-3">
    <div class="content my-2">
        <span routerLink="/investreffer" class="d-flex">
            <div class="align-self-center">
                <h1 class="mb-0 font-14"><i class="bi bi-credit-card color-white pe-3"></i></h1>
            </div>
            <div class="align-self-center">
                <h5 class="color-white font-600 mb-0 mt-0 font-14 line-height-s">
                    ₹ 600
                </h5>
            </div>
            <div class="align-self-center ms-auto">
                <h5 class="color-white font-600 mb-0 mt-0 font-14 line-height-s">
                    Withdrawal
                </h5>
            </div>
        </span>
    </div>
</div> -->

<div class="card card-style mt-4">
    <div class="content">
        <div class="collapse show">
            <div *ngFor="let item of slidesStore; index as i;">
                <div *ngIf="item.name!='Pending' || (item.wallet*1)>0">
                    <div class="d-flex" routerLink="{{item.url}}">
                        <div class="ps-1">
                            <h1 class="font-16 mb-n1 text-success" [class.text-warning]="item.name=='Pending'">{{item.name}}</h1>
                            <h5 class="font-13 font-400 opacity-70 mb-n1">{{item.name2}}</h5>
                        </div>
                        <div class="ms-auto pt-3">
                            <h1 class="mb-0 mt-n2 font-16 text-end" [class.text-warning]="item.name=='Pending'">{{(orgnigation.cuntryCurency(item.wallet))}}</h1>
                        </div>
                    </div>
                    <div class="divider my-2 opacity-50"></div>
                </div>
            </div>
            
            <div *ngIf="loging" class="text-center">
                <img src="assets/images/ar1.gif" alt="">
            </div>
        </div>
    </div>
</div>