<div class="card card-style">
    <div class="content py-1 text-center">
        <!-- <div style="height: 120px;overflow: hidden;">
            <img style="margin-top: -40px;" src="assets/images/comming.gif" width="200px" alt="">
        </div> -->
        <h2 class="text-danger mt-3">Pending Profile</h2>
        <h5>Currently your Profile is in review, Please wait for activation. It will be activated within 24 hours.</h5>
        <img class="w-100" src="assets/images/lowwallet.png" alt="">
    </div>
</div>
