<!-- <button type="button" (click)="loginUser()">
    Log in with Google
</button>

<button type="button" (click)="getOtp()">
    Log in with OTP
</button>
{{key|json}}
<div #recaptchacontainer id="recaptcha-container"></div> -->

<div class="loginBody">
    <div class="logo">
        <img width="90px" src="assets/images/logo.png" alt="">
        MAKDFS
    </div>
    <div class="d-flex justify-content-center mt-5" >
        <asl-google-signin-button shape="rectangular" text="continue_with" theme="filled_blue" logo_alignment="center" type='standard' size='large'></asl-google-signin-button>
    </div>




    <!-- <div id="recaptchacontainer" #recaptchacontainer ></div>
    <div class="inputarea" [formGroup]="updateUser">
        <input type="text" formControlName="username" placeholder="E-Mail Id or Mobile No.">
        <input type="password" formControlName="password" class="mt-2" placeholder="Password">
        <div class="row">
            <div class="col-8">
                <button (click)="login()">
                    <img *ngIf="loader2" class="loading" src="assets/images/ar1.gif" alt="preloader">
                    <span *ngIf="loader2==false">LOGIN</span>                    
                </button>
            </div>
            <div class="col-4">
                <button (click)="signup()" routerLink="/signup" >SignUp</button>
            </div>
        </div>
        <button (click)="login()" class="mb-3">
            <img *ngIf="loader2" class="loading" src="assets/images/ar1.gif" alt="preloader">
            <span *ngIf="loader2==false">LOGIN</span>                    
        </button>
        <a (click)="signup()" routerLink="/signup">Create new account! Signup</a>
        <div class="seprater">
            <span>OR</span>
        </div>
        <div class="loginbtn">
            <img (click)="loginUser()"  width="170px" src="assets/images/gmail.png" alt="login">
            <img *ngIf="loader" class="loading" src="assets/images/ar1.gif" alt="preloader">
        </div>
        <p>By Clicking Login Button I Accept</p>
        <p><strong>Terms & Conditions</strong></p>
    </div> -->

    <!-- <div class="loginshocel">
        <a href="https://www.facebook.com/makdfs0" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/makdfs/" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://twitter.com/makdfs0" target="_blank"><i class="bi bi-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UC3LRfnmNSWoHl2qJ1AimlNA" target="_blank"><i class="bi bi-youtube"></i></a>
    </div> -->
</div>