<div class="card card-style">
    <div class="content py-1">
        <div class="text-center">
            <img src="assets/images/gift.gif" alt="">
            <h3>Upgrade your account and earn ₹30 instead of ₹10 per referral.</h3>
            <p class="mb-0">Enhance your account for <strong>₹30 with each referral</strong> upgrade. Unlock exclusive benefits and elevate your experience. Every successful referral brings valuable rewards. Don't miss out on the opportunity to upgrade and enjoy increased privileges. Upgrade today for a better account experience!</p>
            <p><strong><a target="_blank" href="https://www.youtube.com/watch?v=QgYNXz1n3ys">Learn More</a></strong></p>
            <div>
                <button (click)="ptptrad()" routerLink="/buy/crypto" class="btn btn-danger mt-0 mb-5">Invest Now</button>
            </div>
        </div>
    </div>
</div>