<div class="card card-style">
    <div class="content py-1">
        <div class="text-center">
            <img src="assets/images/gift.gif" alt="">
            <h3>Get ₹200+ on every referral.</h3>
            <p class="mb-0">Earn <strong>₹200+ with every successful investment</strong> referral. Seize this opportunity to boost your earnings by referring friends and family to invest. Don't miss out on the chance to maximize your rewards — <strong>start referring today</strong>. Sign up now and watch your income grow through our referral program. Unlock the potential for financial gains with each successful referral on investments.</p>
            
            <div>
                <button (click)="referNow()" class="btn btn-danger mt-3 mb-5">Refer Now</button>
            </div>
        </div>
    </div>
</div>